<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        Urok 2.2
    </title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
	<div id="app">
	  <h1>Список задач</h1>
	  <div v-if="count() == 0">Вы великолепны!</div>
	  <div v-else-if="count() == 1">остался последний рывок!</div>
	  <div v-else>Осталось сделать задач: <span class="counter">{{ count() }}</span></div>
	  <div class="list">
		<div class="item" :class="{done: task.done}" v-for="task in tasks">
		  <input type="checkbox" v-model="task.done">
		  {{ task.text }}
		</div>
	  </div>
	  <div class="form">
		<input :placeholder="message" v-model:value="message" @keyup.enter="submit">
		<button type="button" v-bind:title="current_title" @click="submit">Добавить</button>
	  </div>  
	
	<transition name="fade bounce">
		<img src="https://pbs.twimg.com/media/BG2zfl6CEAEWL3B.jpg" v-show="count() == 0"> 
	</transition>
	</div>
	
	
	
	<script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <script src="script.js"></script>
</body>